p{
    background-color: blue;
}

#Rey{
    color: blueviolet;
}
#Rene{
    color: aqua;
}
.CH35{
    color: blue;
}

div{
    width: 200;
    height: 200;
    margin:20px 50px ;
    padding:30px ;
    border: solid white; 
}